*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background-color: black;
    overflow-x: hidden !important;
}
.head-container{
    width: 100%;
    height: 70px;
    background-color: black;
}
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    margin-left: 20px;
    width: 10%;
}
.navlinks{
    list-style: none;
}
.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 70px;
    background-color: black;
    z-index: 1;
}
.navlinks a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
}
.checkbtn{
    color: white;
    font-size: 25px;
    margin-right: 25px;
    display: none;
}
#check{
    display: none;
}
.home-container{
    width: 100%;
    height: auto;
    background-color: black;
}
.hm-c1{
    width: 90%;
    margin-left: 5%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid rgba(255, 255, 255, 0.279);
}
.sub-c1{
    width: 80%;
    margin-left: 10%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sub-c1 h1{
    color: white;
    font-size: 5rem;
}
.sub-c1 button {
    padding: 10px 15px;
    color: white;
    background-color: rgb(24, 112, 244);
    font-size: 18px;
    margin-top: 20px;
    margin-right: 250px;
    border: none;
}
.sub-c2{
    width: 80%;
    margin-left: 10%;
    height: 70vh;
}
.hm-c2{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgba(255, 255, 255, 0.352);
}
.hm-c2 :hover {
    color: white;
}
.ch-c1{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ch-c1 h4{
    margin-top: 30px;
    font-size: 25px;
    text-transform: capitalize;
}
.ch-c1 p{
    font-size: 20px;
    margin-top: 40px;
}
.sw-container{
    width: 100%;
    height: 100vh;
}
.sw-container h1 {
    color: white;
    display: flex;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
    margin-top: 5%;
}
.slider{
    width: 300%;
    height: 100vh;
    display: flex;
    animation: slide 5s infinite;
    position: relative;
    left: 0;
}
.figure{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.figure img {
    margin-left: 10%;
}
.i1 {
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.317);
    font-size: 20px;
}
.i1 img {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    margin-right: 10%;
}
.i2 {
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}
.i2 img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin-right: 10%;
}
.i3 {
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.317);
    font-size: 20px;
}
.i3 img {
    width: 45%;
    height: 45%;
    margin-right: 10%;
    border-radius: 50%;
}
.i1 p,.i2 p,.i3 p{
    margin-top: 30px;
    margin-left: 10px;
}
@keyframes slide {
    0% {
      left: 0;
    }
    10% {
      left: 0;
    }
    20% {
      left: -100%;
    }
    30% {
      left:-100%;
    }
    40% {
      left: -200;
    }
    50% {
      left: -200%;
    }
    66% {
      left: -200%;
    }
    74%{
      left: -200%;
    }
    75% {
      left: -100%;
    }
    85% {
      left: -100%;
    }
    90% {
      left: 0%;
    }
    100% {
      left: 0%;
    }
}
.abt-container{
    width: 100%;
    height: auto;
}
.abt-main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.abt-sub1 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}
.abt-sub1 h1 {
    font-size: 6.5rem;
}
.abt-sub1 button {
    padding: 10px 15px;
    margin-left: -50%;
    background-color: black;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    border: none;
}
.abt-sub2 {
    width: 100%;
    height: 70vh;
}
.abt-sub2 img{
    width: 100%;
    height: 100%;
}
.abt-sub {
    width: 90%;
    height: 30vh;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.im1 img{
    width: 50%;
    height: 50%;
}
.im2 img{
    width: 50%;
    height: 50%;
    margin-left: -48%;
}
.im3 img{
    width: 50%;
    height: 50%;
    margin-left: -96%;
}
.im1 img{
    border: 4px solid blue;
}
.im2 img{
    border: 4px solid blue;
}
.im3 img{
    border: 4px solid blue;
}
.ct-container{
    width: 90%;
    height: 80vh;
    margin-left: 5%;
    background-image: url(images/contact-visual.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
}
.ct-link{
    width: 30%;
    height: 70vh;
    margin-right: 15%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.ct-link p {
    font-size: 20px;
    text-align: center;
}
.ct-link h4 {
    text-align: center;
}
.one{
    padding: 10px 30px;
    background-color: rgb(35, 133, 244);
    color: white;
    font-size: 16px;
    border: none;
}
.two {
        padding: 10px 30px;
        background-color: rgb(233, 82, 188);
        color: white;
        font-size: 16px;
        border: none;
    }
.three {
    padding: 15px 25px;
    background-color: rgb(14, 73, 141);
    color: white;
    font-size: 16px;
    border: none;
}
.conatiner-ft{
    width: 100%;
    height: 70vh;
}
.conatiner-ft h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
    margin-top: 5%;
}
.f-c1{
    width: 80%;
    margin-left: 10%;
    height: auto;
    display: grid;
    margin-top: 5%;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.f-c1 button{
    width: 50%;
    height: 60px;
    font-size: 20px;
    background-color: black;
    color: white;
    margin-top: 5%;
    text-transform: capitalize;
    border: 2px solid white;
}
.f-c1 button:hover {
   background-color: rgb(8, 118, 243);
   cursor: pointer;
}
.f-c2{
    width: 70%;
    margin-left: 15%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.f-c2 button{
    width: 40%;
    height: 60px;
    font-size: 20px;
    background-color: black;
    color: white;
    margin-top: 3%;
    text-transform: capitalize;
    border: 2px solid white;
}
.f-c2 button:hover {
   background-color: rgb(8, 118, 243);
   cursor: pointer;
}
.f-c3{
    width: 70%;
    margin-left: 15%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-c3 button{
    width: 20%;
    height: 60px;
    font-size: 20px;
    background-color: black;
    color: white;
    margin-top: 3%;
    text-transform: capitalize;
    border: 2px solid white;
}
.f-c3 button:hover {
   background-color: rgb(8, 118, 243);
   cursor: pointer;
}
.text-area{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.text-area input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.384);
    border-bottom: 1px solid white ;
    font-size: 30px;
}
label {
    color: white;
    font-size: 20px;
}

.r1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    color: white;
    background-color: rgb(8, 118, 243); 
    font-size: 25px; 
    margin-left: 43%;  
}



















@media (max-width:650px) {
    .logo {
        margin-left: 40px;
    }
    .navlinks {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 260px;
        background-color: rgb(0, 0, 0);
        top: 70px;
        display: none;
        z-index: 1;
    }
    .navlinks li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .checkbtn{
        display: block;
    }
    #check:checked~.navlinks{
        display: flex;
    }
    .hm-c1{
        width: 90%;
        margin-left: 5%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        border-bottom: 1px solid rgba(255, 255, 255, 0.279);
    }
    .sub-c1{
        width: 80%;
        margin-left: 10%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sub-c1 h1{
        color: white;
        font-size: 3rem;
    }
    .sub-c1 button {
        width: 50%;
        padding: 10px 15px;
        color: white;
        background-color: rgb(24, 112, 244);
        font-size: 18px;
        margin-top: 20px;
        margin-right: 50px;
        border: none;
    }
    .sub-c2{
        width: 80%;
        margin-left: 10%;
        height: 70vh;
    }
    .sub-c2 img {
        width: 90%;
        height: 100%;
        margin-left: 5%;
    }
    .hm-c2{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .sw-container{
        width: 100%;
        height: auto;
        overflow-x: hidden !important;
    }
    .slider{
        width: 300%;
        height: auto;
        display: flex;
    }
    .figure{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    .figure img {
        margin-left: 10%;
    }
    .i2 p2 {
        margin-left: 20px;
        text-align: center;
    }
    .abt-container{
        width: 100%;
        height: auto;
    }
    .abt-main{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .abt-sub1 {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        flex-direction: column;
    }
    .abt-sub1 h1 {
        font-size: 4rem;
    }
    .abt-sub1 button {
        padding: 10px 15px;
        margin-left: -50%;
        background-color: black;
        margin-top: 20px;
        color: white;
        font-size: 20px;
        border: none;
    }
    .abt-sub2 {
        width: 100%;
        height: 70vh;
    }
    .abt-sub2 img{
        width: 100%;
        height: 100%;
    }
    .abt-sub {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .im1 img{
        width: 50%;
        height: 50%;
        margin-left: 25%;
    }
    .im2 img{
        width: 50%;
        height: 50%;
        margin-left: 25%;
    }
    .im3 img{
        width: 50%;
        height: 50%;
        margin-left: 25%;
    }
    .ct-container{
        width: 90%;
        height: 80vh;
        margin-left: 5%;
        background-image: url(images/contact-visual.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .ct-link{
        width: 80%;
        height: 70vh;
        margin-right: 10%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .conatiner-ft{
        width: 100%;
        height: auto;
    }
    .conatiner-ft h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-transform: capitalize;
        margin-top: 5%;
    }
    .f-c1{
        width: 80%;
        margin-left: 10%;
        height: auto;
        display: grid;
        margin-top: 5%;
        grid-template-columns: 1fr;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .f-c1 button{
        width: 100%;
        height: 60px;
        font-size: 20px;
        background-color: black;
        color: white;
        margin-top: 5%;
        text-transform: capitalize;
        border: 2px solid white;
    }
    .f-c2{
        width: 70%;
        margin-left: 15%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .f-c2 button{
        width: 100%;
        height: 60px;
        font-size: 20px;
        background-color: black;
        color: white;
        margin-top: 3%;
        text-transform: capitalize;
        border: 2px solid white;
    }
    .f-c3 button{
        width: 60%;
        height: 60px;
        font-size: 20px;
        background-color: black;
        color: white;
        margin-top: 3%;
        text-transform: capitalize;
        border: 2px solid white;
    }
    .text-area{
        width: 90%;
        height: 30vh;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .r1{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        color: white;
        background-color: rgb(8, 118, 243); 
        font-size: 25px; 
        margin-left: 23%;  
    }
}

